<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.duolanjian.java.market.mapper.UserMapper">

	<resultMap id="userMap" type="User">
		<result property="id" column="pk_id" />
		<result property="mobile" column="mobile" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="sex" column="sex" />
		<result property="qq" column="qq" />
		<result property="createTime" column="create_time" />
	</resultMap>
	
    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_user(`mobile`, `username`, `password`, `create_time`, `sex`, `qq`) 
		VALUES(#{mobile}, #{username}, #{password}, #{createTime}, #{sex}, #{qq})
	</insert>
	<select id="selectOne" parameterType="Map" resultMap="userMap">
		SELECT * 
		FROM t_user
		WHERE pk_id = #{id}
	</select>
	
	<select id="selectListByPage" parameterType="Map" resultMap="userMap">
        SELECT * 
        FROM t_user
        order by pk_id desc
        LIMIT #{limit}
        OFFSET #{offset}
    </select>
    <select id="selectListByIds" parameterType="Map" resultMap="userMap">
        SELECT * 
        FROM t_user
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="countListByIds" parameterType="Map" resultType="Integer">
        SELECT count(1)
        FROM t_user
        WHERE pk_id IN
	    <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>

	<update id="update" parameterType="User">
		UPDATE t_user
		SET `mobile` = #{mobile},
		    `username` = #{username},
		    `password` = #{password},
		    `create_time` = #{createTime},
		    `sex` = #{sex},
		    `qq` = #{qq}
		WHERE pk_id = #{id}
	</update>

	<delete id="delete" parameterType="Map">
		delete from t_user
		where pk_id = #{id}
	</delete>
	
	<delete id="deleteAll">
		delete from t_user
    </delete>
	
	<select id="selectByMobile" parameterType="Map" resultMap="userMap">
		SELECT * 
		FROM t_user
		WHERE mobile = #{mobile}
		limit 1
	</select>
	
	<delete id="deleteByMobile">
		delete
		FROM t_user
		WHERE mobile = #{mobile}
    </delete>
    
</mapper>