<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<configuration>

	<settings>
		<setting name="defaultStatementTimeout" value="5" />
	</settings>

	<typeAliases>
		<typeAlias alias="Student" type="com.duolanjian.java.market.bean.Student" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapperlog/StudentMapper.xml" />
	</mappers>

</configuration>

